<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  Hola mundo

  <div>
    <ion-button color="secondary" (click)="openBrowser()">abrir pagina web</ion-button>
    <ion-button color="secondary" (click)="takePicture()">Foto camera</ion-button>
  </div>

  <div>
    <h1>Geolocalizacion</h1>
    <p>latitude: {{ latitude }}</p>
    <p>longitude: {{ longitude }}</p>
  </div>


  <div>
    <img [src]="image" alt="">
  </div>



</ion-content>
